<div class="section-col">
    <div class="section" @onclick="OnClickHandler">
        <div class="section-in">
            <img src="@ImageSrc" alt="@ImageAlt">
        </div>
    </div>
</div>
<div class="hover-text">
    <h2>@HoverText</h2>
</div>